$color-dark: #000;
$brand-200: #EA5954;
$brand-500: #FFF;
$brand-600: #F9F9F9;
$brand-700: #4186FB;
$brand-dark: #282828;
$brand-sidebar-separator: #383838;
$brand-shade: rgba(0, 0, 0, 0.4);
$form-input-dark: #EEEEEE;
$font-size: .8rem;

$enable-form-control: false !default;