<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews
    </IfModule>

    RewriteEngine On

    # Redirect Trailing Slashes If Not A Folder...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} (.+)/$
    RewriteRule ^ %1 [L,R=301]

    # Handle Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]

    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} ^(.*)
    RewriteRule .* - [e=HTTP_AUTHORIZATION:%1]

    RewriteCond %{HTTP:uid} ^(.*)
    RewriteRule .* - [e=HTTP_auth_id:%1]

    RewriteCond %{HTTP:token} ^(.*)
    RewriteRule .* - [e=HTTP_token_key:%1]

    RewriteCond %{HTTP:dtm} ^(.*)
    RewriteRule .* - [e=HTTP_device_timezone:%1]

    RewriteCond %{HTTP:did} ^(.*)
    RewriteRule .* - [e=HTTP_device_id:%1]
</IfModule>
