/*
 * Base structure
 */
/* Move down content because we have a fixed navbar that is 50px tall */
body {
    background: #F7F7F7;
    padding-top: 50px;
}

/* Form Control */
.form-control {
    border: solid 3px #E5E5E5;
    box-shadow: none;
    -webkit-box-shadow: none;
    border-radius: 3px;
    padding: 5px;
}

.form-control:focus {
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
    border: solid 3px #337AB7;
}

.btn {
    border-radius: 0 !important;
    padding: 5px 16px !important;
}

.dropdown-menu {
    border-radius: 0 !important;
}

/* Toggle Styles */
#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 250px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #2A3F54;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

/* Sidebar Styles */
.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 5px;
    line-height: 25px;
    padding: 0;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #ffffff;
    padding: 0;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255, 255, 255, 0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav-sub {
    list-style-type: none;
}

.sidebar-nav-sub li a {
    display: block;
    text-decoration: none;
    color: #ffffff;
    font-size: 12px;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #ffffff;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

.admin-container {
    padding: 12px;
    border: solid 2px #E8E8E8;
    border-radius: 3px;
    background: #FFFFFF;
    margin: 16px 0;
}

@media (min-width: 768px) {
    #wrapper {
        padding-left: 250px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 250px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}

.page-header {
    padding-bottom: 9px;
    margin: 20px 0 20px;
    border-bottom: 1px solid #eee;
    color: #6C7E93;
}