/*
 * @Author: Jestoni Obice
 * @Date: 2017-12-23 16:43:02
 * @Last Modified by: Jestoni Obice
 * @Last Modified time: 2017-12-23 16:50:05
 */
/*
 * @Author: Jestoni Obice
 * @Date: 2017-12-27 14:50:43
 * @Last Modified by:   Jestoni Obice
 * @Last Modified time: 2017-12-27 14:50:43
 */
/*Content*/
/*Sidebar*/
/*Dash head*/
/*Nav tab*/
/*Heading divider*/
/*Form*/
/*Stat card*/
body {
    color: #000;
    background-color: #FFF;
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0.5rem;
    font-family: inherit;
    font-weight: 300;
    line-height: 1.1;
    color: #000;
}

.datepicker-days table {
    color: #3c3c3c;
}

/*
 * @Author: Jestoni Obice
 * @Date: 2017-12-27 14:51:35
 * @Last Modified by:   Jestoni Obice
 * @Last Modified time: 2017-12-27 14:51:35
 */
.btn-pill {
    padding-left: 1.25em;
    padding-right: 1.25em;
    border-radius: 1000em;
}

/* Extra small viewport or screen */
/* Small viewport or screen */
/* Medium viewport or screen */
/* Large viewport or screen */
/*
 * @Author: Jestoni Obice
 * @Date: 2017-12-27 14:50:53
 * @Last Modified by:   Jestoni Obice
 * @Last Modified time: 2017-12-27 14:50:53
 */
.heading-divider {
    position: relative;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
}

.heading-divider:before {
    position: absolute;
    top: 50%;
    display: block;
    content: "";
    width: 100%;
    height: 1px;
    background-color: #868688;
}

.heading-divider .heading-divider-title {
    position: relative;
    z-index: 2;
    display: inline-block;
    padding-left: 1em;
    padding-right: 1em;
    color: #868688;
    vertical-align: middle;
    background-color: #FFFFFF;
}

.heading-divider .heading-divider-content {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 100%;
    color: inherit;
}

/*
 * @Author: Jestoni Obice
 * @Date: 2017-12-27 14:50:02
 * @Last Modified by:   Jestoni Obice
 * @Last Modified time: 2017-12-27 14:50:02
 */
.icon-nav-slider {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    white-space: nowrap;
}

.nav-wrapper {
    margin-bottom: 30px;
}

.iconav-brand-icon {
    font-size: 30px;
}

.iconav-nav-label {
    display: block;
    font-size: 11px;
}

.nav-icon-brand {
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 18px;
    line-height: 1;
    color: #F5F5F5;
    text-align: center;
    border-bottom: 0;
    background-color: #acb2bd;
}

.nav-pills .nav-item {
    float: none;
    display: inline-block;
}

.nav-pills .nav-item .nav-link {
    position: relative;
    padding: 10px 12px;
    font-size: 18px;
    color: inherit;
    text-align: center;
    border-radius: 0;
}

.nav-pills .nav-item .nav-link .nav-avatar {
    width: 18px;
    margin: 0 auto;
}

/* Extra small viewport or screen */
/* Small viewport or screen */
@media only screen and (min-width: 768px) {
    .nav-wrapper {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        width: 70px;
        margin-top: 0;
        margin-bottom: 0;
        background-color: #efeff4;
        overflow-y: hidden;
        -webkit-transform: translate3d(0, 0, 0);
    }

    .nav-icon-brand {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .nav-icon-brand:hover {
        color: #e2e3e6;
    }

    .nav-pills .nav-item {
        display: block;
    }

    .nav-pills .nav-item .nav-link {
        color: #434857;
        padding: 20px;
        border-top: 1px solid #e0e0e1;
        border-right: 0;
    }

    .nav-pills .nav-item .nav-link .nav-avatar {
        width: 26px;
        margin: 0 auto;
    }
}

/* Medium viewport or screen */
/* Large viewport or screen */
.nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.iconav-nav {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
}

.nav-item {
    display: block;
}

.nav-item .nav-link.active {
    color: #007bff;
    background-color: #FFF;
}

/*
 * @Author: Jestoni Obice
 * @Date: 2017-12-27 14:50:36
 * @Last Modified by:   Jestoni Obice
 * @Last Modified time: 2017-12-27 14:50:36
 */
.dash-head :after {
    display: block;
    clear: both;
    content: "";
}

.dash-head .dash-titles .dash-subtitle {
    margin-top: 0;
    margin-bottom: 5px;
    font-weight: normal;
    font-size: 85%;
    color: #868688;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.dash-head .dash-titles .dash-title {
    margin-top: 0;
}

/* Extra small viewport or screen */
/* Small viewport or screen */
@media only screen and (min-width: 768px) {
    .content-panel {
        padding-left: 6rem;
    }

    .dash-titles {
        float: left;
    }
}

/* Medium viewport or screen */
/* Large viewport or screen */
/*
 * @Author: Jestoni Obice
 * @Date: 2017-12-27 14:50:16
 * @Last Modified by:   Jestoni Obice
 * @Last Modified time: 2017-12-27 14:50:16
 */
.nav-tabs {
    border-bottom: transparent;
}

.nav-tabs > li:first-of-type > a {
    padding-left: 0 !important;
}

.nav-tabs .nav-item .nav-link {
    padding: 10px 10px;
    color: #868688;
    border: transparent;
}

.nav-tabs .nav-item .nav-link:hover, .nav-tabs .nav-item .nav-link:focus {
    color: #007bff;
}

.nav-tabs .nav-item .nav-link.active {
    display: inline-block;
    padding: 10px 10px;
    color: #007bff;
    border-bottom: 4px solid #007bff;
    background-color: transparent;
}

.nav-tab-hr {
    margin-top: 0 !important;
    margin-bottom: 3rem !important;
    border: 0;
    border-top: 1px solid #007bff;
}

/*
 * @Author: Jestoni Obice
 * @Date: 2017-12-27 14:51:00
 * @Last Modified by:   Jestoni Obice
 * @Last Modified time: 2017-12-27 14:51:00
 */
.form-control {
    color: #000;
    background: #e2e3e6 none;
    border: 1px solid #e2e3e6;
    border-radius: 0.25rem;
    -webkit-transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
}

.form-control:focus {
    color: #495057;
    border-color: #e2e3e6;
    outline: none;
    box-shadow: none;
}

.input-group-addon {
    padding: 0.375rem 0.75rem;
    margin-bottom: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #AAAAAA;
    text-align: center;
    background-color: #e2e3e6;
    border: 1px solid #e2e3e6;
    border-radius: 0.25rem;
}

/*
 * @Author: Jestoni Obice
 * @Date: 2017-12-27 14:50:31
 * @Last Modified by:   Jestoni Obice
 * @Last Modified time: 2017-12-27 14:50:31
 */
.modal-content {
    background-color: #efeff4;
    border: 0px solid #efeff4;
    border-radius: 1rem;
}

.modal-header {
    border-bottom: 1px solid #e0e0e1;
}

/*
 * @Author: Jestoni Obice
 * @Date: 2017-12-27 14:51:24
 * @Last Modified by:   Jestoni Obice
 * @Last Modified time: 2017-12-27 14:51:24
 */
.statcard {
    padding: 1rem 0 !important;
}

.statcard .statcard-number {
    margin-top: 0;
    margin-bottom: 0;
}

.statcard .statcard-number .statcard-indicator {
    display: inline-block;
    padding: .4em;
    font-size: 12px;
    vertical-align: middle;
}

.statcard .positive {
    color: #28a745;
}

.statcard .negative {
    color: #ff3b30;
}

.statcard .statcard-desc {
    font-size: 70%;
    letter-spacing: .15em;
    color: #868688;
    text-transform: uppercase;
}

/* Extra small viewport or screen */
/* Small viewport or screen */
@media only screen and (min-width: 768px) {
    body {
        padding-top: 25px;
        padding-bottom: 50px;
    }
}

/* Medium viewport or screen */
/* Large viewport or screen */
.nav-link-inner {
    border-radius: .25rem;
    border: 1px solid;
    margin-right: 5px;
}

/*# sourceMappingURL=jro-admin.css.map */
