/**
 * Author: Archie, Disono (webmonsph@gmail.com)
 * Website: www.webmons.com
 * Copyright 2016 Webmons Development Studio.
 * License: Apache 2.0
 */

body {
    background: #FAFAFA;
}

.app-container {
    padding: 12px !important;
    border: solid 2px #E8E8E8;
    border-radius: 3px;
    background: #FFFFFF;
    margin: 16px 0;
}

.row-con {
    margin-bottom: 6px !important;
}

.form-group-no-margin {
    margin: 0 !important;
}

/* Form Control */
.form-control {
    box-shadow: none;
    -webkit-box-shadow: none;
    border-radius: 0 !important;
    padding: 6px;
    border: 1px solid #EEEEEE;
    background-color: #F8F8F8;
}

.form-control:focus {
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
    border: 1px solid #EAEAEA;
    background-color: #EAEAEA;
}

.picker__wrap {
    border-radius: 0 !important;
}

.picker__box {
    border-radius: 0 !important;
}

.picker__frame {
    border-radius: 0 !important;
}

.picker__holder {
    border-radius: 0 !important;
}

.has-header {
    margin-top: 68px;
}

.input-group-addon-lg {
    border: solid 3px #E5E5E5;
}

.btn-primary {
    background: #0275D8 !important;
    border: none !important;
    border-radius: 0 !important;
}

.btn-primary:hover {
    background: #025AA5 !important;
}

.btn-success {
    border: 1px #5CB85C !important;
    border-radius: 0 !important;
}

.btn-info {
    border: 1px #5BC0DE !important;
    border-radius: 0 !important;
}

.btn-warning {
    border: 1px #F0AD4E !important;
    border-radius: 0 !important;
}

.btn-danger {
    border: 1px #D9534F !important;
    border-radius: 0 !important;
}

.btn-link {
    border: none !important;
    border-radius: 0 !important;
}

.btn-facebook {
    color: #fff !important;
    background: #48649F !important;
}

.btn-line-primary {
    border: solid #0275D8 1px !important;
    background: transparent !important;
}

.btn-line-success {
    border: solid #5CB85C 1px !important;
    background: transparent !important;
}

.btn-line-info {
    border: solid #5BC0DE 1px !important;
    background: transparent !important;
}

.btn-line-warning {
    border: solid #F0AD4E 1px !important;
    background: transparent !important;
}

.btn-line-danger {
    border: solid #D9534F 1px !important;
    background: transparent !important;
}

.dropdown-menu {
    border-radius: 0 !important;
}

.clear-bar {
    width: 100%;
    height: 12px;
}

.jumbotron-sm {
    background: #FFFFFF;
    padding: 16px !important;
    border: 1px solid #F2F2F2;
    border-radius: 2px !important;
}

.modal-content {
    border-radius: 0 !important;
}

.well {
    box-shadow: none !important;
    border-radius: 0 !important;
}

.map {
    width: 100% !important;
    height: 500px !important;
}

.map-sm {
    width: 100% !important;
    height: 280px !important;
}

#leafMap {
    height: 100%;
    width: 100%;
}

.footer {
    margin-top: 80px;
    margin-bottom: 120px;
    text-align: center;
}

.material-shadow-1 {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.material-shadow-1:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.material-shadow-2 {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.material-shadow-3 {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.material-shadow-4 {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.material-shadow-5 {
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
}

th {
    border-bottom: solid 1px #DDDDDD !important;
}

.picker__list {
    padding: 0 !important;
}

.image_chooser {
    width: 100% !important;
    height: 100% !important;
}

table {
    table-layout: fixed;
    white-space: normal !important;
}

td {
    vertical-align: middle !important;
    word-wrap: break-word !important;
}

.toast {
    box-shadow: none !important;
}

.dropdown-toggle {
    border-radius: 0 !important;
}

/* tiny mce for font awesome icon on buttons */
.nicescroll-cursors {
    width: 8px !important;
    border: none !important;
    border-radius: 0 !important;
    background-color: #337AB7 !important;
}

.mce-ico.mce-i-fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* sub menu for bootstrap */
.dropdown-submenu {
    position: relative;
}

.dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -1px;
}

/* caret right for sub menu */
.caret-right {
    float: right;
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid #999999;
    margin-top: 5px;
    margin-right: -8px;
}