/* Form Control */
.form-control {
    border: solid 3px #E5E5E5;
    box-shadow: none;
    -webkit-box-shadow: none;
    border-radius: 0;
    padding: 5px;
}

.form-control:focus {
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
    border: solid 3px #337AB7;
}

.has-header {
    margin-top: 64px;
}

.input-group-addon-lg {
    border: solid 3px #E5E5E5;
}

.btn {
    border-radius: 0 !important;
}

.btn-primary {
    background: #0275D8 !important;
    border: none !important;
}

.btn-primary:hover {
    background: #025AA5 !important;
}

.dropdown-menu {
    border-radius: 0 !important;
}

.clear-bar {
    width: 100%;
    height: 12px;
}

.jumbotron-sm {
    background: #FFFFFF;
    padding: 16px !important;
    border: 1px solid #F2F2F2;
    border-radius: 6px;
}