body {
    background-color: #F9F9F9;
}

.modal-content {
    background: #fff !important;
}

.picker__wrap {
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
    border: none !important;
    padding: 6px !important;
}

.picker__box {
    -webkit-border-radius: 3px !important;
    -moz-border-radius: 3px !important;
    border-radius: 3px !important;
}

/* Add animation to "page content" */
.animate-bottom {
    position: relative;
    -webkit-animation-name: animateBottom;
    -webkit-animation-duration: 1s;
    animation-name: animateBottom;
    animation-duration: 1s
}

@-webkit-keyframes animateBottom {
    from {
        bottom: -100px;
        opacity: 0
    }
    to {
        bottom: 0;
        opacity: 1
    }
}

@keyframes animateBottom {
    from {
        bottom: -100px;
        opacity: 0
    }
    to {
        bottom: 0;
        opacity: 1
    }
}

/* width */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

/* Track */
::-webkit-scrollbar-track:hover {
    background: #f1f1f1;
    border-radius: 100px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 100px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.chat-profile-photo {
    border-radius: 1000px !important;
    width: 48px !important;
}

.chat-profile-photo-search {
    border-radius: 1000px !important;
    width: 48px !important;
}

.chat-profile-search-container {
    max-height: 232px !important;
    overflow-y: auto;
}

.chat-inbox-container {
    max-height: 480px !important;
    overflow-y: auto;
}

.chat-profile-ul {
    display: table-cell !important;
    vertical-align: middle !important;
}

.chat-message-container {
    max-height: 420px !important;
    overflow-y: auto;
    border-top: solid #E0E1E2 1px;
}

.chat-message-file-container {
    max-height: 160px !important;
    overflow-y: auto;
}

.chat-profile-name-search {
    height: 42px !important;
    display: table-cell !important;
    vertical-align: middle !important;
}

.picker__select--month, .picker__select--year {
    height: auto !important;
}

.img-small {
    width: 48px;
    height: 48px;
}

.btn-facebook {
    background-color: #4367B2;
    color: #fff
}

.btn-facebook:hover {
    background-color: #4367B2;
    color: #fff
}

.hr-line-word-jumbotron {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #000;
    line-height: 0.1em;
    margin: 10px 0 20px;
}

.hr-line-word-jumbotron span {
    background: #E9ECEE;
    padding: 0 10px;
}

.alert-chat {
    color: #383d41;
    background-color: #F1F0F0;
    border-color: #d6d8db;
}

.alert-chat hr {
    border-top-color: #c8cbcf;
}

.alert-chat .alert-link {
    color: #6B6F74;
}