body {
    background-color: #F9F9F9;
}

.modal-content {
    background: #fff !important;
}

.picker__wrap {
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
    border: none !important;
    padding: 6px !important;
}

.picker__box {
    -webkit-border-radius: 3px !important;
    -moz-border-radius: 3px !important;
    border-radius: 6px !important;
    border: solid 1px #fff !important;
}

.picker__select--month, .picker__select--year {
    font-size: 16px;
    height: auto !important;
}

/* Add animation to "page content" */
.animate-bottom {
    position: relative;
    -webkit-animation-name: animateBottom;
    -webkit-animation-duration: 1s;
    animation-name: animateBottom;
    animation-duration: 1s
}

@-webkit-keyframes animateBottom {
    from {
        bottom: -100px;
        opacity: 0
    }
    to {
        bottom: 0;
        opacity: 1
    }
}

@keyframes animateBottom {
    from {
        bottom: -100px;
        opacity: 0
    }
    to {
        bottom: 0;
        opacity: 1
    }
}

/* width */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

/* Track */
::-webkit-scrollbar-track:hover {
    background: #f1f1f1;
    border-radius: 100px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 100px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.chat-profile-photo {
    border-radius: 1000px !important;
    width: 48px !important;
}

.chat-profile-photo-search {
    border-radius: 1000px !important;
    width: 48px !important;
}

.chat-profile-search-container {
    max-height: 232px !important;
    overflow-y: auto;
}

.chat-inbox-container {
    max-height: 480px !important;
    overflow-y: auto;
}

.chat-profile-ul {
    display: table-cell !important;
    vertical-align: middle !important;
}

.chat-message-container {
    max-height: 420px !important;
    overflow-y: auto;
    border-top: solid #E0E1E2 1px;
}

.chat-message-file-container {
    max-height: 160px !important;
    overflow-y: auto;
}

.chat-profile-name-search {
    height: 42px !important;
    display: table-cell !important;
    vertical-align: middle !important;
}

.img-small {
    width: 48px;
    height: 48px;
}

.btn-facebook {
    background-color: #4367B2;
    color: #fff
}

.btn-facebook:hover {
    background-color: #4367B2;
    color: #fff
}

.hr-line-word-jumbotron {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #000;
    line-height: 0.1em;
    margin: 10px 0 20px;
}

.hr-line-word-jumbotron span {
    background: #E9ECEE;
    padding: 0 10px;
}

.hr-line-word {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #000;
    line-height: 0.1em;
    margin: 10px 0 20px;
}

.hr-line-word span {
    background: #FFF;
    padding: 0 10px;
}

.alert-chat {
    color: #383d41;
    background-color: #F1F0F0;
    border-color: #d6d8db;
}

.alert-chat hr {
    border-top-color: #c8cbcf;
}

.alert-chat .alert-link {
    color: #6B6F74;
}

/*

===========================================================================
START:
Custom checkbox
===========================================================================

*/

.custom-control.material-checkbox {
    --color: #26a69a;
}

.custom-control.material-checkbox .material-control-input {
    display: none;
}

.custom-control.material-checkbox .material-control-input:checked ~ .material-control-indicator {
    border-color: var(--color);
    -webkit-transform: rotateZ(45deg) translate(1px, -5px);
    transform: rotateZ(45deg) translate(1px, -5px);
    width: 10px;
    border-top: 0 solid #fff;
    border-left: 0 solid #fff;
}

.custom-control.material-checkbox .material-control-indicator {
    display: inline-block;
    position: absolute;
    top: 4px;
    left: 0;
    width: 16px;
    height: 16px;
    border: 2px solid #aaa;
    transition: .3s;
}

.custom-control.fill-checkbox {
    --color: #26a69a;
}

.custom-control.fill-checkbox .fill-control-input {
    display: none;
}

.custom-control.fill-checkbox .fill-control-input:checked ~ .fill-control-indicator {
    background-color: var(--color);
    border-color: var(--color);
    background-size: 80%;
}

.custom-control.fill-checkbox .fill-control-indicator {
    border-radius: 3px;
    display: inline-block;
    position: absolute;
    top: 4px;
    left: 0;
    width: 16px;
    height: 16px;
    border: 2px solid #aaa;
    transition: .3s;
    background-size: 0;
    background: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3E%3C/svg%3E") no-repeat center;
}

.custom-control.overflow-checkbox .overflow-control-input {
    display: none;
}

.custom-control.overflow-checkbox .overflow-control-input:checked ~ .overflow-control-indicator::after {
    -webkit-transform: rotateZ(45deg) scale(1);
    transform: rotateZ(45deg) scale(1);
    top: -6px;
    left: 5px;
}

.custom-control.overflow-checkbox .overflow-control-input:checked ~ .overflow-control-indicator::before {
    opacity: 1;
}

.custom-control.overflow-checkbox .overflow-control-indicator {
    border-radius: 3px;
    display: inline-block;
    position: absolute;
    top: 4px;
    left: 0;
    width: 16px;
    height: 16px;
    border: 2px solid #aaa;
}

.custom-control.overflow-checkbox .overflow-control-indicator::after {
    content: '';
    display: block;
    position: absolute;
    height: 16px;
    transition: .3s;
    -webkit-transform: rotateZ(90deg) scale(0);
    transform: rotateZ(90deg) scale(0);
    width: 10px;
    border-bottom: 4px solid #aaa;
    border-right: 4px solid #aaa;
    border-radius: 3px;
    top: -2px;
    left: 2px;
}

.custom-control.overflow-checkbox .overflow-control-indicator::before {
    content: '';
    display: block;
    position: absolute;
    height: 16px;
    transition: .3s;
    width: 10px;
    border-right: 7px solid #fff;
    border-radius: 3px;
    -webkit-transform: rotateZ(45deg) scale(1);
    transform: rotateZ(45deg) scale(1);
    top: -4px;
    left: 5px;
    opacity: 0;
}

.custom-control.material-switch {
    --color: #26a69a;
    padding-left: 0;
}

.custom-control.material-switch .material-switch-control-input {
    display: none;
}

.custom-control.material-switch .material-switch-control-input:checked ~ .material-switch-control-indicator::after {
    background-color: var(--color);
    left: 17px;
}

.custom-control.material-switch .material-switch-control-indicator {
    display: inline-block;
    position: relative;
    margin: 0 10px;
    top: 4px;
    width: 32px;
    height: 16px;
    background: #ddd;
    border-radius: 16px;
    transition: .3s;
}

.custom-control.material-switch .material-switch-control-indicator::after {
    content: '';
    display: block;
    position: absolute;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    transition: .3s;
    top: -1px;
    left: -1px;
    background: #fdfdfd;
    box-shadow: 0 2px 10px #aaa;
}

.custom-control.ios-switch {
    --color: #4cd964;
    padding-left: 0;
}

.custom-control.ios-switch .ios-switch-control-input {
    display: none;
}

.custom-control.ios-switch .ios-switch-control-input:active ~ .ios-switch-control-indicator::after {
    width: 20px;
}

.custom-control.ios-switch .ios-switch-control-input:checked ~ .ios-switch-control-indicator {
    border: 10px solid var(--color);
}

.custom-control.ios-switch .ios-switch-control-input:checked ~ .ios-switch-control-indicator::after {
    top: -8px;
    left: 4px;
}

.custom-control.ios-switch .ios-switch-control-input:checked:active ~ .ios-switch-control-indicator::after {
    left: 0;
}

.custom-control.ios-switch .ios-switch-control-indicator {
    display: inline-block;
    position: relative;
    margin: 0 10px;
    top: 4px;
    width: 32px;
    height: 20px;
    background: #fff;
    border-radius: 16px;
    transition: .3s;
    border: 2px solid #ddd;
}

.custom-control.ios-switch .ios-switch-control-indicator::after {
    content: '';
    display: block;
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 16px;
    transition: .3s;
    top: 0;
    left: 0;
    background: #fff;
    box-shadow: 0 0 2px #aaa, 0 2px 5px #999;
}

.custom-control.border-switch {
    --color: #4cd964;
    padding-left: 0;
}

.custom-control.border-switch .border-switch-control-input {
    display: none;
}

.custom-control.border-switch .border-switch-control-input:checked ~ .border-switch-control-indicator {
    border-color: var(--color);
}

.custom-control.border-switch .border-switch-control-input:checked ~ .border-switch-control-indicator::after {
    left: 14px;
    background-color: var(--color);
}

.custom-control.border-switch .border-switch-control-indicator {
    display: inline-block;
    position: relative;
    margin: 0 10px;
    top: 4px;
    width: 32px;
    height: 20px;
    background: #fff;
    border-radius: 16px;
    transition: .3s;
    border: 2px solid #ccc;
}

.custom-control.border-switch .border-switch-control-indicator::after {
    content: '';
    display: block;
    position: absolute;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    transition: .3s;
    top: 2px;
    left: 2px;
    background: #ccc;
}

.custom-control.teleport-switch {
    --color: #4cd964;
    padding-left: 0;
}

.custom-control.teleport-switch .teleport-switch-control-input {
    display: none;
}

.custom-control.teleport-switch .teleport-switch-control-input:checked ~ .teleport-switch-control-indicator {
    border-color: var(--color);
}

.custom-control.teleport-switch .teleport-switch-control-input:checked ~ .teleport-switch-control-indicator::after {
    left: -14px;
}

.custom-control.teleport-switch .teleport-switch-control-input:checked ~ .teleport-switch-control-indicator::before {
    right: 2px;
    background-color: var(--color);
}

.custom-control.teleport-switch .teleport-switch-control-indicator {
    display: inline-block;
    position: relative;
    margin: 0 10px;
    top: 4px;
    width: 32px;
    height: 20px;
    background: #fff;
    border-radius: 16px;
    transition: .3s;
    border: 2px solid #ccc;
    overflow: hidden;
}

.custom-control.teleport-switch .teleport-switch-control-indicator::after {
    content: '';
    display: block;
    position: absolute;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    transition: .3s;
    top: 2px;
    left: 2px;
    background: #ccc;
}

.custom-control.teleport-switch .teleport-switch-control-indicator::before {
    content: '';
    display: block;
    position: absolute;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    transition: .3s;
    top: 2px;
    right: -14px;
    background: #ccc;
}

.list-group:first-child .list-group-control:first-child {
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
}

.list-group::last-child .list-group-control:last-child {
    border-bottom-left-radius: .25rem;
    border-bottom-right-radius: .25rem;
}

.list-group.list-group-flush:last-child .list-group-control:last-child {
    border-bottom: 0;
    margin-bottom: 0;
}

.list-group.list-group-flush:first-child .list-group-control:first-child {
    border-top: 0;
}

.list-group.list-group-flush .list-group-control {
    border-right: 0;
    border-left: 0;
    border-radius: 0;
}

.list-group .list-group-control {
    position: relative;
    display: block;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.125);
}

.list-group .list-group-control .custom-control {
    margin: 0;
    padding: .75rem 1.25rem .75rem 3rem;
    display: block;
}

.list-group .list-group-control .custom-control .custom-control-indicator, .list-group .list-group-control .custom-control .material-control-indicator, .list-group .list-group-control .custom-control .fill-control-indicator, .list-group .list-group-control .custom-control .overflow-control-indicator {
    top: 1rem;
    left: 1.25rem;
}

/*

===========================================================================
END:
Custom checkbox
===========================================================================

*/

.btn-gray {
    background-color: #E2E3E6;
}