$default-font-size: .8rem;
$default-size-w-h: 63px;

$default-border-radius: .2rem;

$color-white: #FFFFFF !default;
$color-danger: #FF413F !default;
$color-gray-50: #EEEEEE !default;
$color-red-50: #FFF6F6 !default;
$color-blue-50: #EDF2F7 !default;